CREATE DATABASE [StuDB]
 ON  PRIMARY 
( NAME = N'StuDB',
  FILENAME = N'D:\StuDB.mdf',
  SIZE = 3072KB,
  FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'StuDB_log',
  FILENAME = N'D:\StuDB_log.ldf' ,
  SIZE = 1024KB ,
  FILEGROWTH = 10%)
GO

USE [StuDB]
GO

CREATE TABLE [dbo].[学生信息](
   [系部] [nvarchar](10) NULL,
   [班级] [nvarchar](10) NULL,
   [专业] [nvarchar](10) NULL,
   [学号] [char](8) NOT NULL,
   [姓名] [nvarchar](5) NULL,
   [性别] [char](2) NULL,
   [出生日期] [datetime] NULL,
   [籍贯] [nvarchar](10) NULL,
   [总学分] [tinyint] NULL,
   [备注] [nvarchar](50) NULL,
 CONSTRAINT [PK_学生信息] PRIMARY KEY CLUSTERED([学号] ASC))

CREATE TABLE [dbo].[教师信息](
   [教师编号] [char](5) NOT NULL,
   [姓名] [nchar](5) NOT NULL,
   [性别] [bit] NULL,
   [职称] [nchar](10) NULL,
   [出生日期] [smalldatetime] NULL,
   [部门编号] [char](2) NULL,
   [手机号码] [char](11) NULL,
   [Email] [varchar](50) NULL,
   [教师年薪] [decimal](8, 2) NULL,
 CONSTRAINT [PK_教师信息] PRIMARY KEY CLUSTERED([教师编号] ASC))

CREATE TABLE [dbo].[学生成绩](
   [学号] [char](8) NOT NULL,
   [课程号] [char](3) NOT NULL,
   [成绩] [tinyint] NULL,
 CONSTRAINT [PK_学生成绩] PRIMARY KEY CLUSTERED([学号] ASC,[课程号] ASC))

CREATE TABLE [dbo].[部门信息](
   [部门编号] [char](2) NOT NULL,
   [名称] [nchar](10) NULL,
   [职责范围] [nvarchar](50) NULL,
 CONSTRAINT [PK_部门信息] PRIMARY KEY CLUSTERED([部门编号] ASC))

CREATE TABLE [dbo].[课程信息](
   [课程号] [char](3) NOT NULL,
   [课程名] [nvarchar](20) NOT NULL,
   [教师] [nvarchar](5) NULL,
   [开课学期] [tinyint] NULL,
   [学时] [tinyint] NULL,
   [学分] [tinyint] NULL,
 CONSTRAINT [PK_课程信息] PRIMARY KEY CLUSTERED([课程号] ASC))

CREATE TABLE [dbo].[Users](
   [UserName] [nvarchar](10) NOT NULL,
   [Password] [nvarchar](10) NULL,
   [Grade] [nvarchar](10) NULL,
   [Description] [nvarchar](50) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED([UserName] ASC))
GO

INSERT INTO [StuDB].[dbo].[部门信息] VALUES('01' , '电子信息' , '教学系部')
INSERT INTO [StuDB].[dbo].[部门信息] VALUES('02' , '计算机科学' , '教学系部')
INSERT INTO [StuDB].[dbo].[部门信息] VALUES('03' , '经济管理' , '教学系部')

INSERT INTO [StuDB].[dbo].[Users] VALUES('admini' , '140902' , '系统管理员', NULL)
INSERT INTO [StuDB].[dbo].[Users] VALUES('Andy' , '130826' , '普通管理员', NULL)
INSERT INTO [StuDB].[dbo].[Users] VALUES('Serkida' , '140802' , '普通管理员', NULL)

INSERT INTO [StuDB].[dbo].[教师信息]
   VALUES('01101', '王明松', '1', '教授', '1966-06-08', '01', '13834562145', 'shjk@yahoo.com', '123456.78')
INSERT INTO [StuDB].[dbo].[教师信息]
   VALUES('01102', '刘桂芳', '0', '副教授', '1986-08-02', '01', '13043251876', 'lgf023457@163.com', '82341.78')
INSERT INTO [StuDB].[dbo].[教师信息]
   VALUES('01103', '刘庆云', '0', '副教授', '1977-08-31', '01', NULL, '9396167823@qq.com', '55569.19')

INSERT INTO [StuDB].[dbo].[课程信息] VALUES('101', '大学英语', '黄绍红', 1, 86, 5)
INSERT INTO [StuDB].[dbo].[课程信息] VALUES('102', '高等数学', '王明松', 1, 68, 4)
INSERT INTO [StuDB].[dbo].[课程信息] VALUES('103', '计算机基础', '杨圣全', 1, 86, 5)

INSERT INTO [StuDB].[dbo].[学生成绩] VALUES('12010105', '208', 92)
INSERT INTO [StuDB].[dbo].[学生成绩] VALUES('12010105', '301', 98)
INSERT INTO [StuDB].[dbo].[学生成绩] VALUES('12010108', '302', 84)

INSERT INTO [StuDB].[dbo].[学生信息]
   VALUES('电子信息', '电信1201', '电子信息', '12010101', '杨勇', '男', '1996-12-26', '山西阳泉市', 1, NULL)
INSERT INTO [StuDB].[dbo].[学生信息]
   VALUES('电子信息', '电信1201', '电子信息', '12010105', '叶小红', '女', '2002-04-27', '山西吕梁离石', 1, NULL)
INSERT INTO [StuDB].[dbo].[学生信息]
   VALUES('电子信息', '电信1201', '电子信息', '12010108', '陈园', '女', '2001-01-22', '山西省忻州市原平', 1, NULL)

GO
